ENV="dev" # REMOVE THIS IN PRODUCTION

APP_NAME=
API_PORT=
MODEL_PROVIDER=
MODEL_NAME=
GOOGLE_APPLICATION_CREDENTIALS=
EMBEDDING_MODEL_PROVIDER=
EMBEDDING_MODEL_NAME=
VERTEX_AI_PROJECT_ID=

# Opik
PROJECT_NAME_OPIK=
OPIK_CONFIG_PATH=

# MILVUS
MILVUS_HOST=
MILVUS_TOKEN=
MILVUS_USER=
MILVUS_PASSWORD=

# TRINO
TRINO_HOST=
TRINO_PORT=
TRINO_USER=
TRINO_SCHEMA=
TRINO_HTTP_SCHEMA=
TRINO_CATALOG=